packages
ViewShowingConcept/ViewShowingConcept.Ios/bin
ViewShowingConcept/ViewShowingConcept.Ios/obj
ViewShowingConcept/ViewShowingConcept.Android/bin
ViewShowingConcept/ViewShowingConcept.Android/obj
ViewShowingConcept/ViewShowingConcept.Core/bin
ViewShowingConcept/ViewShowingConcept.Core/obj
*.config
*.suo
*.user